@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'noto-sans', sans-serif;
  font-weight: 100;
  background-color: #fafaf9;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-['Playfair_Display'] text-gray-800;
}

p {
  @apply text-lg leading-relaxed text-gray-600;
}
